#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home_title{
  display: flex;
  flex-direction: row;
}

.Happy_cake_img{
  width: 400px;
}
#cake_icon{
  margin-right: 0.35rem;
}